<%= stylesheet_link_tag 'jquery-ui-1.8.11.custom' %>
<%= stylesheet_link_tag 'links' %>
<%= javascript_include_tag 'links' %>

<h1>Of The Center</h1>
<h2>of the people, by the people, and for the people</h2>

<ul>

<% @links.each do |link| %>
    <li><div>
        <%= link.picture %>
        <a href="<%= link.url %>"><%= link.text %></a>
        score <%= link.score %>
        bias <%= link.bias %>
        <div class="slider-container">
            <div class="slider"></div>
        </div>
    </div></li>
<% end %>

</ul>

<br />

<%= link_to 'New Link', new_link_path %>
