<%= stylesheet_link_tag 'jquery-ui-1.8.11.custom' %>
<%= stylesheet_link_tag 'links' %>
<%= javascript_include_tag 'links' %>

<h1>Of The Center</h1>
<h2>of the people, by the people, and for the people</h2>

<ul>

<% @links.each do |link| %>
    <li><div class="article">

        <%= link.picture %>

        <a href="<%= link.url %>"><%= link.text %></a>

        score <%= link.score %>

        <div class="slider-container">
            <div class="slider" data-bias="<%= link.bias %>"></div>
        </div>

        <% form_for(link) do |f| %>
            <%= f.range_field :bias, :min => 0, :max => 10, :step => 1 %>
            <%= submit_tag "Vote" %>
        <% end %>

    </div></li>
<% end %>

</ul>

<br />

<%= link_to 'New Link', new_link_path %>
