<h1>Of The Center</h1>
<h2>of the people, by the people, and for the people</h2>

<ul>

<% @links.each do |link| %>
    <li><div>
        <%= link.picture %>
        <a href="<%= link.url %>"><%= link.text %></a>
        score <%= link.score %>
        bias <%= link.bias %>
    </div></li>
<% end %>

</ul>

<br />

<%= link_to 'New Link', new_link_path %>
